*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
  html, body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: lightgrey;
    line-height: 1.6;
  }
  header {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    margin: 1rem 0;
  }
  p {
    font-size: 0.9rem;
  }
  
  #navbar {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 20%;
      height: 100%;
      border-right: solid;
      border-color: grey;
  }
  #navbar header {
    margin: 15px;
  }
  #navbar ul {
    padding: 0;
  }
  #navbar li {
    list-style: none;
    width: 100%;
    border-top: 1px solid;
    position: relative;
  }
  #navbar a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
  }
  #main-doc {
    position: absolute;
    margin-left: 22%;
    padding: 20px;
    width: 77%;
  }
  .main-section ul, .main-section ol {
    padding: 0 1rem;
  }
  #main-doc header {
    text-align: left;
  }
  .bold {
    font-weight: bold;
  }
  ul {
    margin: 1rem 0;
  }
  code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    line-height: 1.5;
    padding: 3%;
    background-color: #eee;
    border-radius: 5px;
  }
  @media (max-width: 700px) {
    #navbar {
      position: absolute;
      width: 100%;
      border: none;
      z-index: 1;
    }
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 350px;
      width: 100%;
    }
  }
  @media (max-width: 300px) {
    #main-doc {
      margin-top: 400px;
    }
  }